$primary-color: yellow;
$secondary-color: black;
$text-color: white;
$font-size-base: 16px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $primary-color;
  font-family: Arial, sans-serif;
  font-size: $font-size-base;
  color: $text-color;
}

header {
  .navbar {
    .logo {
      height: 50px;

      @media (min-width: 576px) {
        height: 80px;
      }

      @media (min-width: 768px) {
        height: 150px;
      }
    }
  }
}

.main-title {
  background-color: $secondary-color;
  color: $primary-color;
  padding: 20px;
  margin-top: 20px;
}

.description {
  color: $text-color;
  font-size: 0.9rem;
  padding: 10px;
  text-align: center;
}

.carousel-item {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
  }
}

footer {
  text-align: center;
  padding: 20px;
  background-color: $secondary-color;
  color: $primary-color;
}

@media (max-width: 576px) {
  .navbar {
    .nav-link {
      font-size: 0.8rem;
    }
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .navbar {
    .nav-link {
      font-size: 1rem;
    }
  }
}

@media (min-width: 768px) {
  .navbar {
    .nav-link {
      font-size: 1.2rem;
    }
  }
}
